$base-delay: 0;
$trigger-color: #3047EC;
$bg-color: #fff;

:root {
    --animate-duration: 300ms;
    --animate-delay: 1s;
}

.aio-contact-parent {
    * {
        box-sizing: border-box;
    }
    .aio-contact-blocks {
        small.info {
            opacity: 0.5;
        }
        .aio-contact-block {
            display: flex;
            align-items: center;
            transition: 0.3s all;
            top: 0px;
            position: relative;
            cursor: pointer;
            img {
                max-width: 36px;
                max-height: 36px;
            }
            .aio-contact-block-icon {
                i {
                    font-size: 1.5em;
                }
            }
        }
    }
    @for $i from 0 through 20 {
        .aio-contact-block:nth-child(#{$i}) {
            animation-delay: #{$i * 0.1}s
        }
        a:nth-child(#{$i}) {
            .aio-contact-block {
                animation-delay: #{$i * 0.1}s
            }
        }
    }
    .aio-contact-trigger {
        background: $trigger-color;
        border-radius: 50%;
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 60px;
        height: 60px;
        z-index: 1150;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px, rgba(0, 0, 0, 0.16) 0px 2px 32px 0px;
        div[class^="aio-contact-trigger-"] {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            text-align: center;
            font-size: 32px;
            width: 100%;
            height: 100%;
            transition: all 0.3s;
            position: absolute;
            &:last-child {
                opacity: 0;
                transform: rotate(-45deg) scale(0);
            }
        }
        &.open {
            div[class^="aio-contact-trigger-"] {
                &:first-child {
                    opacity: 0;
                    transform: rotate(45deg) scale(0);
                }
                &:last-child {
                    opacity: 1;
                    transform: rotate(0deg) scale(1);
                }
            }
        }
    }
    
    .aio-contact-floating {
        display: none;
        position: fixed;
        right: 30px;
        bottom: 100px;  
        padding: 1.5em;
        border-radius: 10px;
        background: $bg-color;
        z-index: 1151;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px;
        &.open {
            display: block;
        }
        .aio-contact-blocks {
            .aio-contact-block:not(:last-child) {
                margin-bottom: 1.25em;
            }
            a:not(:last-child) {
                .aio-contact-block {
                    margin-bottom: 1em;
                }
            }
            .aio-contact-block {
                .aio-contact-block-icon {
                    display: flex;
                }
                .aio-contact-block-details {
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                }
            }
        }
    }
}

/** Overriding Animate.css Styles **/

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 40%, 0);
        transform: translate3d(0, 40%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 40%, 0);
        transform: translate3d(0, 40%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}